.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 20px;
    /* margin: 20px; */
    padding-top: 100px;

}

.containerrow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.incontainer {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 50px;
    /* background-color: #e71304; */
}

.bigtext {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 30px;

}

.bigtextdetail {
    font-size: 24px;
    font-weight: bold;
    /* margin-bottom: 4px; */
    margin-top: 20px;
}

.text {
    font-size: medium;
    text-align: left;
    line-height: 1.8;
    color: grey;
    max-width: 90ch;
    word-break: break-word;

}

.imghost_container {
    width: 620px;
    height: 480px;
    border-radius: 15px;
    cursor: pointer;
}


.fixposition {

    position: relative;
    bottom: -92%;
    right: -60%;
    color: #000000;
    background-color: #ffffff86;
    width: 40%;
    text-align: center;
}

.containerroom {
    display: flex;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.img {
    width: 150px;
    height: 90px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 15px;
}


.detailroom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btarea {
    display: flex;
    justify-content: center;

}

.texthigh {
    font-weight: bolder;
}

.bt {
    display: flex;
    height: 36px;
    padding: 9px 30px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #e71304;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
    font-weight: 400;
    margin: 10px 0px 10px 0px;
}


.bt:hover {
    background-color: #fc9292;
    color: #000000;

}

.imgiconback{
width: 20px;
height: 20px;
cursor: pointer;

}