.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  animation: fadeIn 0.5s ease-in-out;

}


.section1 {
  /* background-color: #e71304; */
  width: 100%;
  height: 70vh;
  background-image: url("https://res.cloudinary.com/dlijacsdm/image/upload/f_auto,q_auto/fwn5vjuxw20pak2bf5ny");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  gap: 20px;

}

.searchbox {
  /* position: relative;
  top: 69%; 
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* background-color: #c51d1d; */
  border-radius: 10px;
  /* gap: 7px; */
  /* padding: 7px; */
}

.searchbox2 {
  /* position: relative;
  top: 69%; 
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 50px;
  /* padding: 20px; */
}

.word {
  /* position: relative;
  top: 45%; 
  left: 50%;
  transform: translate(-50%, -50%); */
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;

}

.section2 {
  height: 50vw;
  width: 100%;
  /* background-color: #e71304;  */
  display: flex;
  flex-direction: column;
  align-items: center;
}



.inputbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  border-radius: 15px;
  height: 100px;
  width: 100%;
transition: ease  300ms;
cursor: pointer;
}

.bt  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  background-color: #A4D9E0 ;
  border-radius: 0px 55px  55px 0px;
  height: 100px;
  width: 30%;
transition: ease  300ms;
cursor: pointer;
}

.bt:hover{
 border-radius: 55px;
}

.inputbox:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
background-color: #f0f0f0;
border-radius: 55px;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
  width: 76%;
}

.card {
  width: 270px;
  height: auto;
  cursor: pointer;
}


.imghostpre {
  border-radius: 17px;
  margin-bottom: 6px;
}

.texthost {
  font-weight: bold;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: #f1f1f1; */
  border-radius: 7px;
  padding: 0px 20px;
  font-weight: bold;


}

.dropdown_menu {
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 5px;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
}

.dropdown_menuli {
  padding: 10px 77px;
}

.dropdown_menudiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 10px 20px;
/* background-color: aqua; */
}

.date_input {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  box-sizing: border-box;
}


.guestsButton {
  cursor: pointer;
  background-color: #A4D9E0;
  border: none;
  border-radius: 50px;
  margin: 0 5px;
  padding: 5px 5px;
  height: 35px;
  width: 40px;
}

.guestsCount {
  font-size: 16px;
  font-weight: bold;
}

.icondorp{
  width: 15px;
  height: 15px;
}

.vertical_line {
  border-left: 1px solid #c4c4c4; /* สีของเส้นแนวตั้ง */
  height: 100px; /* ความสูงของเส้นแนวตั้ง */
  margin: 0; /* ลบ margin ที่ถูกกำหนดไว้โดยอัตโนมัติ */
}