.container {
    width: 390px;
    height: auto;

    
}

.text{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}


.form{
    display: flex;
    flex-direction:  column;
    padding: 20px;
}

.imagePreview{
    width: 390px;
    height: 252px;
    object-fit: cover;

}