.container{
    width: 390px;
height: auto;

}

.container_info{
padding: 10px 10px 10px 50px ;
}

.petImage{
    border-radius: 20px 20px 0px 0px; 
    width: 390px;
    height: 252px;
   object-fit: cover;
}

.textname{
    font-size:  21px;
    font-weight: bolder;
}


.text {
    width:  70%;

}

.hightext{
    font-weight: bolder;
    color: #23707a;
}


.header_editmode{

    font-size:  21px;

}


.btc {
    display: flex;
    height: 36px;
    padding: 9px 30px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #e71304;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
font-weight: 400;
margin: 10px 0px 10px 0px;
}


.btc:hover{
    background-color: #fc9292;
    color: #000000;

}

.btb {
    display: flex;
    height: 36px;
    padding: 9px 30px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #62b800;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out;
font-weight: 400;
margin: 10px 0px 10px 0px;
}


.btb:hover{
    background-color: #9eff91;
    color: #007022;

}

.bte {
    display: flex;
    height: 36px;
    padding: 9px 30px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ffa600;
    color: #7a6400;
    transition: background-color 0.3s ease-in-out;
font-weight: 400;
margin: 10px 0px 10px 0px;
}


.btb:hover{
    background-color: #ffe291;
    color: #706e00;

}